name: 'Docker Image'

on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

working-directory: 4-multistage-build

jobs:
  build:
    name: 'Build and Push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create tag
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV


      - name: Docker Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Image
        run: docker build -t vaugenwake/goapi:${SHORT_SHA} .

      - name: Push image
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: docker push vaugenwake/goapi:${SHORT_SHA}